{
	"Database": {
		"Type": "MySQL",
		"Bolt": {
 			"Path": "database/database.db"
		},
		"MongoDB": {
			"URL": "127.0.0.1",
			"Database": "gowebapp"
		},
		"MySQL": {
			"Username": "root",
			"Password": "password",
			"Name": "ndjinn",
			"Hostname": "127.0.0.1",
			"Port": 3306,
			"Parameter": "?parseTime=true"
}

	},
	"Email": {
		"Username": "",
		"Password": "",
		"Hostname": "",
		"Port": 25,
		"From": ""
	},
	"Recaptcha": {
		"Enabled": false,
		"Secret": "",
		"SiteKey": ""
	},
	"Server": {
		"Hostname": "localhost",
		"UseHTTP": true,
		"UseHTTPS": false,
		"HTTPPort": 8080,
		"HTTPSPort": 443,
		"CertFile": "tls/server.crt",
		"KeyFile": "tls/server.key"
	},
	"Session": {
		"SecretKey": "@r4B?EThkSEh_drudkjh_hub=j#s2Pah",
		"Name": "cookie",
		"Options": {
			"Path": "/",
			"Domain": "",
			"MaxAge": 280,
			"Secure": false,
			"HttpOnly": true
		}
	},
	"Checkout": {
		"PayPalC": "changeme",
		"PayPalK": "changeme"
	},
	"Admin": {
		"adminemail": "test@example.com",
		"mkpasswd": "GbzWb62aHiC4Y"
	},
	"Template": {
		"Root": "base",
		"Children": [
			"partial/menu",
			"partial/footer"
		]
	},
	"View": {
		"GlobalSiteName": "TESTINGZONE",
		"BaseURI": "http://localhost:8080/",
		"Extension": "tmpl",
		"Folder": "template",
		"Name": "blank",
		"Caching": true
	}
}
