{{define "title"}}{{.GlobalSiteName}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>Hello, {{.nickname}}</h1>
	</div>
	<p>Dashboard. You are a {{.LoginStatus}} member. {{.MembershipLevel}}</p>
	<div class="medium-4 columns">
		<h3>New Listing</h3>
	<form method="post" action="/api">
		<input id="email" name="email" placeholder="{{.Email}}">
		<input id="phone" name="phone" placeholder="phone">
		<input type="hidden" name="token" value="{{.token}}">
		<input type="hidden" name="request" value="newListing">
		<textarea id="c" name="c">What makes ___ _____</textarea>
		<input type="submit" class="button">
	</form>
</div>
	<!-- <div class="medium-4 columns">
		<h3>Edit Listing</h3>
	<form method="post" action="/api">
		<input id="email" name="email">
		<input id="phone" name="phone">
		<input type="hidden" name="token" value="{{.token}}">
		<input type="hidden" name="request" value="editListing">
		<textarea id="c" name="c"></textarea>
		<input type="submit" class="button">
	</form>
</div> -->

<div class="medium-4 columns">

<h2>Modals</h2>
<div id="links"></div>

<p><a data-open="exampleModal2">Click me for a modal</a></p>

<!-- This is the first modal -->
<div class="reveal" id="exampleModal2" data-reveal>
  <h1>Awesome!</h1>
  <p class="lead">I have another modal inside of me!</p>
  <a class="button" data-open="exampleModal3">Click me for another modal!</a>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- This is the nested modal -->
<div class="reveal" id="exampleModal3" data-reveal>
  <h2>ANOTHER MODAL!!!</h2>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p><a data-open="exampleModal3">Click me for another modal</a></p>

</div>

<div class="medium-4 columns">

<h2>Become a member</h2>
<p><a href="/promote" class="button">FREE</a></p>
<p><a href="/checkout" class="button">$10</a></p>


</div>


	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}
<!--
<script>

function loadlink(){
    $('#links').load('/dashboard/async/newlisting',function () {
         $(this).unwrap();
    });
}

loadlink(); // This will run on page load
setInterval(function(){
    loadlink() // this will run after every 5 seconds
}, 5000);

</script> -->

<script language="javascript" type="text/javascript">

var timeout = setInterval(reloadChat, 5000);
function reloadChat () {

     $('#links').load('/dashboard/async');
}
</script>


{{end}}
